/* All styles for your header Components live here */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
}

.header-title {
  display: flex;
  align-items: baseline;
  padding: 1%;
}

.main-heading {
  padding-right: 2%;
  font-size: 30px;
  width: 38%;
}

.main-heading-items {
  color: grey;
}

p {
  padding: 1%;
  line-height: 1.6;
  padding-bottom: 2.5%;
}

.img-thumbnail-container {
  width: 325px;
  height: 100px;
  position: relative;
}

.img-thumbnail {
  height: 67%;
  width: 45%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
